.pnb-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pnb-header {
  text-align: center;
  margin-bottom: 20px;
}

.pnb-header h1 {
  color: #00205b; /* PNB Blue */
  margin-bottom: 5px;
}

.pnb-header p {
  color: #555;
}

.subheading {
  font-size: 18px;
  color: #00205b; /* PNB Blue */
}

.content-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.box {
  margin-top: 10px;
}

input[type='tel'],
button {
  padding: 10px;
  margin: 6px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #2659b8; 
  color: #edeaea;
  cursor: pointer;
}

input[type='tel'] {
  width: calc(100% - 80px); /* Adjust the width accordingly */
}

button:hover {
  background-color: #004f9a; /* Darker PNB Blue */
}

.otp-box {
  margin-top: 20px;
}
